<!-- <!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>{{title}}</h1>
    

    <table>
    	<tbody>
    		<tr>
    			<th>_id</th>
    			<th>id_pers</th>
    			<th>name</th>
    			<th>date_of_birth</th>
    			<th>male</th>
    			<th>attachment</th>
    			<th>naukzvannya<th>
    			<th>trivalisha_vidpustka</th>
    		</tr>

    		<tr>
    			<form action="/nevropatologs" method="POST">
    				<td></td>
    				<td></td>
    				<td></td>
    				<td></td>
    				<td></td>
    				<td></td>
    				<td></td>
    				<td></td>
    			</form>
    		</tr>
    	</tbody>
    </table>



<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/script.js"></script>
</body>
<html> -->